.add-city-modal {
  &__box {
    display: flex;
    &_loader {
      position: absolute;
      left: 367px;
      top: 46px;
      width: 30px;
      height: 30px;
    }
    &_button {
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 100px;
      height: 56px;
    }
  }
}
