.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 90vh;
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    &_label {
      margin-bottom: 10px;
    }
    &_input {
      width: 400px;
      margin-bottom: 40px;
    }
    &_error {
      position: absolute;
      bottom: 20px;
      color: #ff0000;
    }
  }
}
