.user-profile {
  display: flex;
  justify-content: center;
  height: 350px;

  &__info {
    width: 300px;
    height: 350px;
    background-color: rgb(121, 165, 255, 40%);
    border-radius: 40px;
    margin-right: 40px;
  }
  &__details {
    width: 450px;
    height: 350px;
    background-color: rgb(121, 165, 255, 40%);
    border-radius: 40px;
  }
}
