@import './styles/form.scss';
@import './styles/cityCard.scss';
@import './styles/weather.scss';
@import './styles/userProfile.scss';
@import './styles/header.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../../public/main-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
