@import './styles/form.scss';
@import './styles/userProfile.scss';
@import './styles/header.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../../public/main-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-enter {
  opacity: 0;
}
.card-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.card-exit {
  opacity: 1;
}
.card-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
